<!-- SIDEBAR -->
<div class="sidebar">
<div class="sidebar-inner">
<div class="logo">
<div class="logo-icon"><span class="material-symbols-outlined"><img src="../images/img3.jpg" alt="logo"></span></div>
<strong>Karibu<br>Groceries</strong>
</div>

<div class="profile">
<img id="profilePicture" src="">

<div>
<strong id="username">User</strong><br>
<small id="userRole">Role</small>
</div>
</div>

<div class="nav-title">Operations</div>
<div class="nav-link"><span class="material-symbols-outlined">dashboard</span><a href="manager-dashboard.html">Dashboard</a></div>
<div class="nav-link"><span class="material-symbols-outlined">inventory_2</span><a href="procurement-form.html">Record Procurement</a></div>
<div class="nav-link"><span class="material-symbols-outlined">point_of_sale</span><a href="managerSale.html">Record Sales</a></div>
<div class="nav-link"><span class="material-symbols-outlined">shelves</span><a href="stockLevel.html">View Stock Levels</a></div>
<div class="nav-link"><span class="material-symbols-outlined">price_change</span><a href="managePrices.html">Manage Prices</a></div>

<div class="nav-title">Analytics</div>
<div class="nav-link"><span class="material-symbols-outlined">bar_chart</span><a href="branch-reports.html">Branch Reports</a></div>
<div class="nav-link"><span class="material-symbols-outlined">settings</span><a href="system-settings.html">System Settings</a></div>
</div>

<div class="sidebar-footer">
<div class="nav-link-logout" id="logoutBtn"><span class="material-symbols-outlined">logout</span>Sign Out</div>
</div>
</div>